.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
margin-bottom: 50px;
}

.list {
    width: 200px;
}

.img  {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 300px;
}

.text {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid rgba(137, 142, 168, 0.8);
    background-color: rgba(240, 240, 240, 0.5);

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    border-top: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}